.pokemon, .chosen-pokemon-div, .my-pokemon-div, .enemy-pokemon-div{
    width: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 250px;
    border-radius: 16px;
    position: relative;
}
.poke-container, .chosen-pokemons, .my-pokemons, .enemy-pokemons{
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
}
img{
    width: 150%;
    height: 100%;
}
.img_container{
    width: 50px;
}

#custom-menu {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    padding: 5px 0;
  }
  .menu-item {
    padding: 8px 12px;
    cursor: pointer;
    
  }
  #menu-item-1:hover, #menu-item-2:hover{
    background-color: pink
  }

  .game-on-div{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  